/* Cart item styles */

/* General styling */
.item-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
  }
  .cartShowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.checkout-totals{ 
    width: 450px;
    /* width: 100%; */
    height: 360px;
    background-color: white;
    /* margin-right: 20px; */
    /* margin-top: 50px; */
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
                     }
  .item-image {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .item-image img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
  #cartex {
  
   
  }
 

#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
   margin-top: -30px;
}
/* .item-image{
    width: 100%;
    display: flex;
    flex-direction: row;

} */
  
#h3{
    margin-left: 100px;
    margin-top: 30PX;
    font-weight: 550;
}   

#discountc{
             color: green;
             margin-left: 190px;

}

#dumprice{
    color: green;
}

.pricedetailsh2{
    text-align: left;
     margin: 20px;
     font-size: 20px;

}


.item-image img{
    /* box-shadow: 0 8px 16px rgb(0, 0, 0); */
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin-left: 0px;

}
.item-content{
    width:100% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
   
}
.item-info{
          width: 100%;
          display:flex;
          flex-direction: row;
          
          align-items: center;
          justify-content: space-around

         
}
.item-controls{
         /* width: 100%; */
          display: flex;
          flex-direction: row;
          /* align-items: center; */
          justify-content: space-between;
          
}

 .item-info h3{
     width: 40%;  
     font-weight: lighter;
    margin-left: 20px;

} 

.item-info h4{
    width: 20%;
    font-weight: bold;
   

}
.item-info p{
    width: 20%;
    font-weight: bold;
   

}

.NoItems{
    text-align: center;
  
}
.quantity-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;    
}
/* .item-quantity{
   padding: 0;
} */
.item-quantity {
    margin: 6px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
}

.inquantityBtn{

    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.dequantityBtn{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    font-size: 28px;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.button-delete{
    /* width:50%;    */
    margin-top: 20px;
    background-color: transparent;
}
.delete-btn{
 
   width:75px;
   height:35px;
   color:white;
   background-color: orangered;
   border-radius:5px;
   border: none;

}




#totalPrice {
    width: auto; /* Adjust the width as needed */
    font-weight: bold;
    margin-left: auto;
    font-size: 20px;
     text-align: right; /* Align text to the right */
  
     
}


.checkout-total1, .checkout-total2 {
    word-wrap: break-word;
   
    font-weight: bold;
    margin: 40px;
    font-size: 18px;
    text-align:start; /* Align text to the right */
    margin-left: 20px;
    /* padding-right: 40px; 
    padding-bottom: 20px; */
  
   /* height: 10px; */
  
   box-shadow: #000 0px 0.1px 0px;
    
}
#ordersave{
    color: green;             
    font-size: 17px;
          
}
.discountgap{ 
        margin-left: 80px;

}

.discountcolor{
              margin-left: 15px;
              color: green;
}
#quantity{ 
    margin-left: 80px;
}





.btnContiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#checkoutAllBtn{
    width:150px;
    height:40px;
    color:white;
    background-color: #007bff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 50px;
   margin-top: 20px;
   
}
#clearAllBtn{
    width:130px;
    color:white;
    height:40px;
    background-color: red;
    font-size: 16px;
    border-radius: 5px;
    margin-left:30px;
    margin-bottom:30px;
    border: none;
    margin-top: 20px;
}


/* Responsive design */
@media (max-width: 768px) {
    .item-details {
        background-color: rgb(246, 242, 242);
        border-radius: 8px;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;
        padding: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
      .cartShowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.checkout-totals{ 
    width: 450px;
    /* width: 100%; */
    /* height: 400px; */
    background-color: white;
    /* margin-right: 20px; */
    /* margin-top: 50px; */
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
                     }
    .item-content{
        width:100% ;
        display: flex;
        flex-direction: column;
        justify-content:start;
       
        /* align-items: center; */  
    
    }
    
    .item-info{
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
       margin-left: 180px;
       
     }
    .item-image img {
        width: 100px;
        height: 100px;
    }
    .item-info h3{
        width: 60%;  
        font-weight: lighter;
       margin-left: -110px;
       margin-bottom: 10px;
       word-wrap: break-word;
   
   }
   
   .item-info h4{
       width: 100%;
       font-weight: bold;
       margin-left: 20px;
       margin-bottom: 10px;  
       word-wrap: break-word;
   }
   .item-info p{
       width: 100%;
       font-weight: bold;
       margin-left: 20px;
       margin-bottom: 10px;
   
   }
    .quantity-controls span {
        margin: 0 10px;
        font-size: 16px;
    }

    #checkoutAllBtn,
    #clearAllBtn {
        width: 100px;
        height: 35px;
        font-size: 14px;
    }
    #totalPrice {
        width: auto; /* Adjust the width as needed */
        font-weight: bold;
        margin-left: auto;
        font-size: 20px;
         text-align: right; /* Align text to the right */
       margin-top: 10px;
    }
   
    
.item-controls{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
      
}
.inquantityBtn{

    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.dequantityBtn{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    font-size: 25px;

    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btnContiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#checkoutAllBtn{
    width:150px;
    height:40px;
    color:white;
    background-color: #007bff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 20px;
   margin-top: 20px;
   
}
#clearAllBtn{
    width:130px;
    color:white;
    height:40px;
    background-color: red;
    font-size: 16px;
    border-radius: 5px;
    margin-left:10px;
    margin-bottom:30px;
    border: none;
    margin-top: 20px;
}
.cartShowContainer{
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly;
}
.checkout-totals{ 
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
                     }
}

/* Responsive design */
@media (max-width: 568px) {
    .item-details {
        background-color: rgb(246, 242, 242);
        border-radius: 8px;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        margin: 10px;
        padding: 20px;
        width: 100%;
        margin-bottom: 20px;
    }
      .cartShowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.checkout-totals{ 
    width: 450px;
    /* width: 100%; */
    /* height: 400px; */
    background-color: white;
    /* margin-right: 20px; */
    /* margin-top: 50px; */
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
                     }
    .item-content{
        width:100% ;
        display: flex;
        flex-direction: column;
        justify-content:start;
       
        /* align-items: center; */  
    
    }
    
    .item-info{
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
       margin-left: 180px;
       
     }
    .item-image img {
        width: 100px;
        height: 100px;
    }
    .item-info h3{
        width: 60%;  
        font-weight: lighter;
       margin-left: -110px;
       margin-bottom: 10px;
       word-wrap: break-word;
   
   }
   
   .item-info h4{
       width: 100%;
       font-weight: bold;
       margin-left: 20px;
       margin-bottom: 10px;  
       word-wrap: break-word;
   }
   .item-info p{
       width: 100%;
       font-weight: bold;
       margin-left: 20px;
       margin-bottom: 10px;
   
   }
    .quantity-controls span {
        margin: 0 10px;
        font-size: 16px;
    }

    #checkoutAllBtn,
    #clearAllBtn {
        width: 100px;
        height: 35px;
        font-size: 14px;
    }
    #totalPrice {
        width: auto; /* Adjust the width as needed */
        font-weight: bold;
        margin-left: auto;
        font-size: 20px;
         text-align: right; /* Align text to the right */
       margin-top: 10px;
    }
   
    
.item-controls{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
      
}
.inquantityBtn{

    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.dequantityBtn{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    font-size: 25px;

    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btnContiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#checkoutAllBtn{
    width:150px;
    height:40px;
    color:white;
    background-color: #007bff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 20px;
   margin-top: 20px;
   
}
#clearAllBtn{
    width:130px;
    color:white;
    height:40px;
    background-color: red;
    font-size: 16px;
    border-radius: 5px;
    margin-left:10px;
    margin-bottom:30px;
    border: none;
    margin-top: 20px;
}
.cartShowContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.checkout-totals{ 
    width: 100%;
    /* width: 100%; */
    /* height: 400px; */
    background-color: white;
    /* margin-right: 20px; */
    /* margin-top: 50px; */
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
                     }
}