.cartShowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}
.item-Detail-Container{
    background-color: #ffffff !important;
    height: 380px;
    overflow-y: auto;
  
}
.item-Detail-Container h1{
    font-size: 22px;
    padding: 20px;
    border-bottom: 1px solid #ccc;

}
.item-Detail-Container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
}
#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-height: 100vh; */
    max-height: 100%;
   margin-top: -30px;
}
.item-details {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 30px;  
    border-radius: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
  }

  .item-image {
    cursor: pointer;
  }
  
  .item-image img{  
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin-left: 0px;

}

.itemContent{
    width: 450px;
    margin-left: 40px;
    
}
.btnHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-name{
    font-size: 22px;
    margin-top: 25px;
}
.price, .size, .quantity, .discount  {
    display: flex;
    flex-direction: row;
    justify-content:start;
    /* align-items: center; */
    margin: 10px ;
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
    
}
.size{
    display: flex;
    flex-direction: row;
    justify-content:start;
    
}
.sizegap{
    margin-left: 100px;  
    font-weight: 500;
}
.discountgap{
     margin-left: 70px;  
    font-weight: 500;
}
.discountAmount {
    opacity: 0.6;
     font-weight:500;
}
  .priceGap{
    font-weight:550;
    margin-left:95px;
  }
.discountcolor{
    /* float: right; */
    margin-left: 30px;
    color: green;
} 
.NoItems{
    text-align: center;
    height:70vh;
    margin-top: 50px;
    font-size: 22px;
    padding-top: 50px;
}
.quantity-controls {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left:35px ;  
    margin-top: 15px;  
}

.item-quantity {
    margin: 6px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
}

.inquantityBtn{

    height: 28px;
    width: 28px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.dequantityBtn{
    height: 28px;
    width: 28px;
    border: none;
    border-radius: 50%;
    font-size: 28px;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.button-delete{

    margin-top: 20px;
    background-color: transparent;
}

.delete-btn{
 
   width:75px;
   height:35px;
   color:white;
   background-color: orangered;
   border-radius:5px;
   border: none;

}
.button-delete1{
    display: none;
}

.checkout-totals{ 
    width: 450px;
    height: 370px;
    background-color: white;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0px;
}

 

.pricedetailsh2{
    text-align: left;
    margin: 20px;
    font-size: 20px;  
    padding: 0px;

}
.pricedetailHr{
    border: solid 1px #bdbcbc;
}
.price-details-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding-left: 25px;
   padding-right: 25px;
  
}
#price ,#dumprice,#deliver ,#totalPrice{
    margin-top: 25px;
}
#deliver{
  margin-left: 150px;
}
.pricehr{
    border: solid 1px #bdbcbc;
    
   
}

#totalPrice {
    width: auto; 
    font-weight: 550;
    font-size: 20px;
  
}


.checkout-total1 {
    word-wrap: break-word;   
    /* font-weight: bold; */
    font-weight: 500 !important;
    margin: 20px;
    font-size: 18px;
    text-align:start;   
 
    
}

#dumprice{
    opacity: 0.6;
}
#ordersave{
    color: green;             
    font-size: 18px;

          
}



.btnContiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    /* border-top: #b1afaf 1px solid; */
    box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.25);
}
#checkoutAllBtn{
    width:150px;
    height:40px;
    color:white;
    background-color: #007bff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 50px;
   margin-top: 20px;
   
}
#clearAllBtn{
    width:130px;
    color:white;
    height:40px;
    background-color: red;
    font-size: 16px;
    border-radius: 5px;
    margin-left:30px;
    margin-bottom:30px;
    border: none;
    margin-top: 20px;
}


/* Responsive design */
@media (max-width: 768px) {
    .cartShowContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30px;
    }
    
   
    .item-details {
       
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
        background-color: #ffffff;
        padding: 10px;  
        border-radius: 5px;
        margin-bottom: 10px;
        width: 100%;
       
      }
    
      
      .item-image img{  
        width: 100%;
        height: 250px;    
    
    }
    
    .itemContent{
        width:100%;
        margin-left: 0px;
            
    }
    .btnHeading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .item-name{
        font-size: 20px;
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .price, .size, .quantity, .discount {
        display: flex;
        flex-direction: row;
        justify-content:start;
        /* align-items: center; */
        margin: 10px ;
        font-weight: 500;
        font-size: 18px;
        margin-left: 10px;
        
    }
    .discountgap{
         margin-left: 85px;  
        font-weight: 500;
    }
    .discountAmount {
        opacity: 0.6;
         font-weight:500;
    }
    .priceGap{
        font-weight:550;
        margin-left:115px;
      }
    .discountcolor{
        /* float: right; */
        margin-left: 10px;
        color: green;
    } 
    
    .quantity-controls {
        display: flex;
        flex-direction: row;
        justify-content:start;
        margin-left:5px ;  
        margin-top: 20px;  
    }
    
    .item-quantity {
        margin: 6px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .inquantityBtn{
    
        height: 28px;
        width: 28px;
        border: none;
        border-radius: 50%;
        font-size: 25px;
        background-color: #f0f0f0;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    .dequantityBtn{
        height: 28px;
        width: 28px;
        border: none;
        border-radius: 50%;
        font-size: 28px;
        background-color: #f0f0f0;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    .button-delete{
    
        margin-top: 20px;
        background-color: transparent;
    }
    .checkout-totals{ 
        width: 100%;
        height: 370px;
        background-color: white;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 0px;
        margin-top: 40px;
    }
    #deliver{
        margin-left: 220px;
       
      }
      .btnContiner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ffffff;
        /* border-top: #b1afaf 1px solid; */
        box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.25);
    }
    #checkoutAllBtn{
        width:130px;
        height:40px;
        color:white;
        background-color: #007bff;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        margin-right: 20px;
       margin-top: 20px;
       
    }
    #clearAllBtn{
        width:100px;
        color:white;
        height:40px;
        background-color: red;
        font-size: 16px;
        border-radius: 5px;
        
        margin-left:20px;
        margin-bottom:30px;
        border: none;
        margin-top: 20px;
    }
    .NoItems{
        text-align: center;
        height:50vh;
        margin-top: 70px;
        font-size: 22px;
        padding-top: 50px;
    }
}

/* Responsive design */
@media (max-width: 568px) {
    .cartShowContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30px;
    }
    
   
    .item-details {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 10px;  
        border-radius: 5px;
        margin-bottom: 10px;
       
      }
    
      
      .item-image img{  
        width: 100%;
        height: 250px;    
    
    }
    
    .itemContent{
        width:100%;
        margin-left: 0px;
        
    }
    .btnHeading{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    .item-name{
        font-size: 20px;
        margin-top: 25px;
        margin-left: 10px;
    }
    .price, .size, .quantity, .discount {
        display: flex;
        flex-direction: row;
        justify-content:start;
        /* align-items: center; */
        margin: 10px ;
        font-weight: 500;
        font-size: 18px;
        margin-left: 10px;
        
    }
    .discountgap{
         margin-left: 15px;  
        font-weight: 500;
    }
    .discountAmount {
        opacity: 0.6;
         font-weight:500;
    }
    .priceGap{
        font-weight:550;
        margin-left:45px;
      }
      .sizegap{
        font-weight:550;
        margin-left:45px;
      }
    .discountcolor{
        /* float: right; */
        margin-left: 10px;
        color: green;
    } 
    
    .quantity-controls {
        display: flex;
        flex-direction: row;
        justify-content:start;
        margin-left:5px ;  
        margin-top: 20px;  
    }
    .item-controls{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .item-quantity {
        margin: 6px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .inquantityBtn{
    
        height: 28px;
        width: 28px;
        border: none;
        border-radius: 50%;
        font-size: 25px;
        background-color: #f0f0f0;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    .dequantityBtn{
        height: 28px;
        width: 28px;
        border: none;
        border-radius: 50%;
        font-size: 28px;
        background-color: #f0f0f0;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    .button-delete{
    
        margin-top: 20px;
        background-color: transparent;
    }
    .delete-btn{
        width:75px;
        height:35px;
        color:white;
        background-color: orangered;
        border-radius:5px;
        border: none;
     
     }
     .button-delete{
        display:none;
        
     }
     .button-delete1{
        display: block;
        margin-top: 20px;
        margin-right: 20px;
     }
     .checkout-totals{ 
        width:100%;
        height:100%;
        background-color: white;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 0px;
    }
    #deliver{
        margin-left: 0px;
       
      }
}