/* Style for checkout item */
body{
 
  background-repeat: no-repeat;
  background-size: cover;
 background-color: rgb(184, 185, 185);
}

#checkoutItem {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); */
  grid-template-columns: (2,1fr);
  gap: 20px;
  margin: 30px;
 
}

.item-details {
  /* margin-left: 50px; */
    display: flex;  
    flex-direction: row; 
    margin-top: 30px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    /* width:650px; */   
    height: 100%;
    background-color: rgb(237, 226, 226);
}

.step1{
  
   width: 100%; 
}
   
    /* align-items: center; */
    /* margin: 20px auto; */
    /* border-bottom: solid 2px #bebdbd; */
  
.item-img {
   margin-top: 30px;
   margin-left:20px ;
   margin-bottom: 20px;
   /* border-radius: 50%; */
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.item-info {
    flex-grow: 0;
}

.item-info h3 {
  width: 60%;
    margin-top: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.item-info p {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

    margin-bottom: 5px; /* Add margin between each paragraph */
}
#expiryDate{
  width: 38%;
}


.item-info p span {
   padding-left: 530px;
   justify-content: center;
}

/* Style for checkout steps */
#checkoutSteps {
    margin-top: 20px;
}

#checkoutSteps {
    margin-bottom: 20px;
}

#checkoutSteps h1 {
    margin-top: 0;
}
.overall{
  display:flex;
  flex-direction: row;
  width:450px;
  
  
}
.commonkey{
  width:70%;
}
.commondata{
  width:70%;
}
.totalkey {
  font-weight: bold;
  padding-bottom: 10px;
}
.total{
  font-weight: bold;
}
.overalls{
  display:flex;
  flex-direction: row;
}

/* Style for buttons */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 30px;
}

button:hover {
    background-color: #0056b3;
}
#cancelCheckout ,#cancelStep2,#cancelStep3{
  background-color: black;
  font-size: 18px;
  margin-left: 30px;
}
#continueStep2 ,#continueStep3{
    float: right;
    font-size: 18px;
    background-color: #28a745;
}
hr{
    border: solid 1px #bdbcbc;
    padding: 0px;
    margin-bottom: 50px;
}
/* Error message styling */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    /* position:absolute; */
}


::placeholder{
    font-size: 15px;
    color: #202020;
    opacity: 0.5;
    text-align: left;
}

#step2 {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
   margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info-and-payment {
  display: flex;
  flex-direction: column;
}

.user-info-form, .payment-options-form {
  margin-bottom: 20px;
}

#step2 h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.form-group-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
}

.payment-options-form label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.payment-options-form input[type="radio"] {
  margin-right: 10px;
}

#cardDetails .form-group,
#upiDetails .form-group {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .button-group button:hover {
  background-color: #0056b3;
} */



#cancelStep2 {
  background-color: black;
}

#cancelStep2:hover {
  background-color: black;
}

#step3 {
  display: flex;
  /* background-color: white; */
  flex-direction: row;
  /*margin: 20px auto;
  margin-top: 100px;*/
  width: 100%;
 
}
#orderDetailsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,  1fr); /* Adjust minmax values as needed */
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(123, 61, 61, 0.1);
}

 
#orderDetails {
  width: 100%;
  /* max-width: 600px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
 
 
}
 
#orderdetailsContainer{
  background-color: cadetblue;
}
.reviewDetail{
  /* margin-left: 0; */
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.order-item {
  /* background-color:whitesmoke; */
  background-color: whitesmoke;
  box-shadow: 4px 4px 10px rgba(9, 9, 9, 0.1);
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  margin: 30px;
  width: 100%;
  border-radius: 10px;
}
 
.ordername span {
  font-size: 20px;
  font-weight: 550;
  /* width: 60%; */
}
.imagedetails{
  width:50%;
 
}
.imagedetails .item-img{
  width: 200px;
  height: 200px;
 /* object-fit: cover;*/
  margin-right: 100px;
  box-shadow: 4px 4px 10px rgba(233, 159, 159, 0.1);
}
 
.order-item .item-info {
  flex: 1;
  font-size: 16px;
}
#orderInfo{
  width: 100%;
}
.item-info{
  width:100%;
  margin-top: 20px;
  margin-left: 10px;
  padding-right: 100px;
 
}
.overalls{
  display:flex;
  flex-direction:row;
 
}
.keyorder{
  width:100%;
  padding: 10px;
}
.dataorder{
  width:80%;
  padding: 10px;
}
.payInfo {
  display: inline-block;

margin-left: 50px;
background-color:whitesmoke;
margin-top: 30px;
border-radius: 10px;
box-shadow: 4px 4px 10px rgba(123, 61, 61, 0.1);
  width: 50%;
  max-width: 650px; /* Adjust the max-width as per your design */
  border: 1px solid #ccc;
  padding: 20px;
 height:fit-content;
}

.item-info{
  margin-top: 50px; 

}
 
.order-item .item-info p strong {
  margin-left: 10px; /* Add space between <strong> and <span> */
}
.payInfo h5 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color:#273b51;
  padding-left:10px;
  padding-top: 30px;
}
 
.payInfo p span {
  color: #464343;
  font-size: 18px;
  font-weight: 550;
  opacity: 0.8;
  margin-bottom:5px;
  width: 100%;
  padding: 10px;
  
 
}


.payment {
  width: 100%;
  padding-left:10px;
  border-radius: 5px;
}
.payment h5{
  margin: 5px 0;
  word-wrap: break-word;
}
.total{
 
  width: 300px;
  padding-left: 10px;
  border-radius: 5px;
}

 

#cancelStep3,
#finishCheckout {
  padding: 10px 30px;
  font-size: 1em;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
/* .payInfo .payment-info p span.address{
  width: 40%;
} */
 
 
#cancelStep3 {
  background-color: black;
  width: 150px;
  height: 40px;
  margin-right: 10px;
  font-size: 18px;
  text-align: center;
  
 
}
 
#finishCheckout {
  background-color: #28a745;
  margin-left: 10px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  text-align: center;
}
 
.step3-buttons {
  display: flex;
justify-content: space-between;
 margin-bottom: 30px;
 
}
.rating{
  color: rgb(252, 143, 0);
}

.shipping-info {
    margin-top: 10px; /* Adjust spacing as needed */
    width:100%;
    margin-left: 10px;
}
 
.shipping-info h5{
  margin-left: -10px;
}
 
.address-details  {
  width: 400px;
  border-radius: 5px;
  display:flex;
  flex-direction:column;
 
}
.address-details p {
  margin: 5px 0;
  word-wrap: break-word;

}
 
 
 
.price-total {
    margin-top: 30px;
    padding-left: 0px; /* Adjust spacing as needed */
}
 

.added{
 width: 100%;
 
}
.add-details{
  width: 80%;
  padding-left: 20px;
}
.add{
  display:flex;
  flex-direction:row;
}
.tt{
  display:flex;
  flex-direction:row;
}

/* Responsive design */
@media (max-width: 768px){
 

    #checkoutItem {
      display: grid;
     /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;*/
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 20px;
      margin: 20px;
    }
  
  .item-details {
    /* margin-left: 50px; */
      display: flex;  
      flex-direction: column; 
      margin-top: 50px;
      align-items: center;
      border-radius: 20px;
      box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
      width:100%;
      height: 100%;
      background-color: rgb(237, 226, 226);
  }
  .overall{
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    margin-left: 50px;
  }
  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.item-info h3 {
    margin-top: 0;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 70px;
  
}
.item-info p {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 10px; /* Add margin between each paragraph */
}
  .item-info p span {
    padding-left: 0px !important;
    justify-content: center;
    align-items: center;
 }
 #step2 {
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width:95%;
  margin:20px auto ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info-and-payment {
  display: flex;
  flex-direction: column;
}
.form-group-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  width: 100%;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
}
.reviewDetail{
  /* margin-left: 0; */
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: start;
  margin-bottom: 40px;
}
.order-item {
  /* background-color:whitesmoke; */
  background-color: whitesmoke;
  box-shadow: 4px 4px 10px rgba(9, 9, 9, 0.1);
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  margin: 20px;
  width: 100%;
  border-radius: 10px;
}
.imagedetails{
  width:90%;
 
}
.imagedetails .item-img{
  width: 100%;
  height: 200px;
 /* object-fit: cover;*/
  margin-right: 100px;
  box-shadow: 4px 4px 10px rgba(233, 159, 159, 0.1);
}
.order-item .item-info {
  flex: 0;
  font-size: 16px;
}
#orderInfo{
  width:90%;
 margin-bottom: 30px;
 margin: 20px;
}
.item-info{
  width:100%;
  margin-top: 20px;
  margin-left: 10px;
  /* padding-right: 100px; */
 
}
.overalls{
  display:flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}
.keyorder{
  width:10%;
  margin-right: 0px;
 
}
.dataorder{
  width:50%;
  /* margin-left: 30px; */
}


.address{
  width: 40% !important ;
  word-wrap: break-word !important;
  margin-left: -70px !important;
}
.added{
  width: 50%;
 
   /* word-break: keep-all; */
  }
  .add-details{
    width:100%;
    padding-left: 0px;
    word-wrap: break-word;
  }
  .add{
    display:flex;
    flex-direction:row;
  }
  .tt{
    display:flex;
    flex-direction:row;
  }
  .payInfo {
    width: 90%;
    max-width: 100%; /* Adjust the max-width as per your design */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 35px;
    /* margin-left: 20px; */
    
 }
}


/* Responsive design */
@media (max-width: 568px){
 

  #checkoutItem {
    display: grid;
   /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;*/
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
    margin: 20px;
  }

.item-details {
  /* margin-left: 50px; */
    display: flex;  
    flex-direction: column; 
    margin-top: 50px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    width:100%;
    height: 100%;
    background-color: rgb(237, 226, 226);
}
.overall{
  display:flex;
  flex-direction: row;
  width:100%;
  align-items: center;
  margin-left: 50px;
}
.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.item-info h3 {
  margin-top: 0;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 70px;

}
.item-info p {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: 10px; /* Add margin between each paragraph */
}
.item-info p span {
  padding-left: 0px !important;
  justify-content: center;
  align-items: center;
}
#step2 {
padding: 30px;
background-color: #f9f9f9;
border-radius: 8px;
width:95%;
margin:20px auto ;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info-and-payment {
display: flex;
flex-direction: column;
}
.form-group-container {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}

.form-group {
display: flex;
flex-direction: column;
}

.form-group label {
margin-bottom: 5px;
font-weight: bold;
}

.form-group input {
padding: 10px;
width: 100%;
font-size: 1em;
border: 1px solid #ccc;
border-radius: 4px;
outline: none;
transition: border-color 0.3s;
}

.form-group input:focus {
border-color: #007bff;
}
.reviewDetail{
/* margin-left: 0; */
display: flex;
width: 100%;

flex-direction: column;
justify-content: start;
margin-bottom: 40px;
}
.order-item {
/* background-color:whitesmoke; */
background-color: whitesmoke;
box-shadow: 4px 4px 10px rgba(9, 9, 9, 0.1);
display: flex;
flex-direction: column;
justify-content:space-evenly;
margin: 20px;
width: 100%;
border-radius: 10px;
}
.imagedetails{
width:90%;

}
.imagedetails .item-img{
width: 100%;
height: 200px;
/* object-fit: cover;*/
margin-right: 100px;
box-shadow: 4px 4px 10px rgba(233, 159, 159, 0.1);
}
.order-item .item-info {
flex: 0;
font-size: 16px;
}
#orderInfo{
width:70%;
margin-bottom: 30px;
margin: -10px;

}
.item-info{
width:100%;
margin-top: 20px;
margin-left: 10px;
/* padding-right: 100px; */

}
.overalls{
display:flex;
flex-direction: row;
width: 100%;
margin-bottom: 10px;
}
.keyorder{
width:10%;
margin-right: 0px;

}
.dataorder{
width:50%;
/* margin-left: 30px; */
}


.address{
width: 40% !important ;
word-wrap: break-word !important;
margin-left: -70px !important;
}
.added{
width: 50%;

 /* word-break: keep-all; */
}
.add-details{
  width:100%;
  padding-left: 0px;
  word-wrap: break-word;
}
.add{
  display:flex;
  flex-direction:row;
}
.tt{
  display:flex;
  flex-direction:row;
}
.payInfo {
  width: 70%;
  max-width: 100%; /* Adjust the max-width as per your design */
  border: 1px solid #ccc;
  padding: 20px;
  /* margin-left: 20px; */
  margin: 10px ;
}
}