body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 209, 209);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

button {
    background-color: black;
    border: none;
    color: #ffffff;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sortOptions1 {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 50px;

}

#sortOptions {
    width: 200px;
    border: none;
    height: 30px;
    padding-left: 10px;
    padding-right: 20px;
    box-shadow: 1px 1px 1px 1px rgba(143, 141, 141, 0.75);
}

.sortOptions1 label {
    font-size: 18px;
    font-weight: 520;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
/* /fliter sidecard/ */

.zepto{ 
    background-color:white;
    width: 100%;
    height: 70px;
   display:flex;
   margin-left: 0px;
   padding: 10px;
  border: 1px; 
  margin-bottom: 15px;  

}
.zepto p{
    width: 100%;
    margin: 15px;
}
.zepto:hover{
   background-color: rgb(226, 199, 199) ; 
}


.zeptoimg{
    width: 50px;
         height: 50px;
         border-radius: 30px;

}
#zeptogap{
    display: grid;
    gap: 10px;
    border: 1px;
    padding: 0px;
    margin-left: -5px;
}

.filterOptions {
    display: none;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: -30px;
    width: 30%;
    left: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    z-index: 1000;
    overflow-y: auto;
    height: 100%;
    margin-bottom: -35px;
}
.filterOptions.active {
    display: block;
    
    /* Other styles for visible state */
}

.filterOptions h2, .filterOptions h1 {
    margin-top: 0;
    color: #333;
}

.filterOptionSearch {
    margin-left: 4px;
    display: flex;
    align-items: center;
    width: 210px;
    border: 1px solid #ccc;
    /* margin-bottom: 20px; */
}

#filterSearchInput {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}

#filterSearchIcon {
    /* margin-left: 0px; */
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #333;
}

.filterOptions ul {
    list-style: none;
    padding: 12px;
}

.filterOptions li {
    padding: 0px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    color: #6e6c6c;
    font-weight: bold;
}

.filterOptions li:hover {
    color: #186edf;
}

.ratingBasedFilter ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}
.ratingBasedFilter h1{
    font-size: 20px;
    margin-left: 10px;
}
.ratingBasedFilter li {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #ccc;
}

.ratingBasedFilter .rating5::before {
    content: "★ ★ ★ ★ ★";
    color: gold;
}

.ratingBasedFilter .rating4::before {
    content: "★ ★ ★ ★ ☆";
    color: gold;
}

.ratingBasedFilter .rating3::before {
    content: "★ ★ ★ ☆ ☆";
    color: gold;
}

.ratingBasedFilter .rating2::before {
    content: "★ ★ ☆ ☆ ☆";
    color: gold;
}

.ratingBasedFilter .rating1::before {
    content: "★ ☆ ☆ ☆ ☆";
    color: gold;
}
/* /end filter side container/ */
.productListContainer {
    margin-left: 20px;
    padding: 20px;
    width: calc(100% - 40px); /* Adjusted for left margin and padding */
    height: calc(100vh + 420px); 
    overflow-y: auto; 
}
.productListContainer h2{
   margin: -10px;
   padding: 0;
}

.productListContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
}
#clearFilterBtn {
    background-color: #000;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    left: 0;
    right: 0;
    /* margin-left: 20px;
    margin-right: 20px; */
    padding: 5px;
    color: #ffffff;
    padding: 0px;
    cursor: pointer;
    margin-bottom: 10px;
}


#closeFilterBtn  {
    border: none;
    border-radius: 5px;
    color: #000;
    height: 30px;  
    left: 0;
    right: 0; 
    margin-right: 10px;  
    font-size: 20px; 
    background-color: transparent;
}
.itemMainContainer {
    position: relative;
    align-items: center;
    margin: 20px auto;
    margin-top: 100px;   
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);  */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; 
}
.itemsContainer {
    
    background-color: #fff;
    /* width: 100%;
    height:100%; */
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(143, 141, 141, 0.75);
}

.itemsDetails {
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    height: 450px;
}

.priceCart {
    margin-top: 0px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
#imgContiner{
    height: 300px; /* Set a fixed height for the container */
    overflow: hidden; /* Ensure content doesn't overflow the container */
    display: flex;
    justify-content: center;
    align-items: center;
 }
.itemImg {
  
  
    max-width: auto; /* Allow the image to scale proportionally */
    height: 100%; /* Ensure the height fills the container */
    /* object-fit: cover;  */
    object-fit:fill;
    margin: 20px auto;
}


.rating {
    font-size: 26px;
    color: rgb(252, 143, 0);
    margin-top: 0px;
    margin-bottom: 0px;
}

.itemMatter {
    margin-top: 20px;
    font-size: 15px;
}

.itemMatter h3{
 
  font-size: 15px;
  /* height: 40px; */
}


.priceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productsListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.mainprice {
    font-size: 21px;
    font-weight: 550;
    margin-bottom: 0px;
    margin-top: 0px;
}

.discount {
    font-size: 16px;
    font-weight: 550;
    color: green;
}
.priceCartBtn{
    margin-top: 0px;
    padding: 10px;
}
.addCart {
    width: 100%;
    height: 40px;
    /* border: none; */
    /* background-color: rgb(252, 187, 11); */
    background-color: transparent;
    border-radius: 5px;
    
    border: 2px solid  rgb(252, 143, 0);
    padding-bottom:5px;
    color:  rgb(252, 143, 0);
    font-size: 16px;
    padding: 10px;
    margin-top: 0px;
    cursor: pointer;
}

.addCart:hover {
    background-color:  rgb(252, 143, 0);
    border: none;
    color: white;
}

.removeCart {
    background-color: red;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
}

.removeCart:hover {
    background-color: rgb(255, 5, 5);
}
.wishList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wishList h3{
    font-size: 22px;
}

.favoriteBtn .far {
    color: red;
}
.favoriteBtn .fas {
    color: red;
}
#footer {
    width: 100%;
    background: rgb(0, 0, 0);
    font-size: 14px;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
}
/* loading animation css */
	
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
/* .loading {
 position: absolute;
  top: 0px;   
  width: 100%;
  height:100vh;  


}

.loading-text {
  position: absolute;
  top:5px;
  bottom: 0;
  left:0px;
  right: 0px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  width: 50%;
  height: 100px;
  font-weight: 550;

} */
.loading {
    position: absolute; /* Position it relative to the .main-content container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other elements */
    background: rgba(255, 255, 255, 0.8); /* Optional: to provide a background overlay */
  }
  
  .loading-text {
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    margin-top: 400px;
    width: 50%;
    max-width: 600px;
  }
  
  .loading-text span {
    display: inline-block;
    margin: 20px auto;
    color: #575656;
    font-family: "Quattrocento Sans", sans-serif;
  }
  
.loading-text span {
  display: inline-block;
  margin: 20px auto;
  color: #575656;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
          animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
          animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
          animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
          animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
          animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
          animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
          animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
.favoriteBtn .far {
    color: red;
}
.favoriteBtn .fas {
    color: red;
}

@media (max-width: 1200px) {
    #toggleFilterBtn {
        left: 10px; /* Further adjust position for mobile screens */
        top: 100px; /* Adjust top position */
    }
}
@media (max-width: 992px) {
    #toggleFilterBtn {
        left: 10px; /* Further adjust position for mobile screens */
        top: 100px; /* Adjust top position */
    }
}
@media (max-width: 768px) {
    .loading-text {
        text-align: center;
        font-size: 30px;
        font-weight: 550;
        margin-top: 400px;
        width: 100%;
        max-width: 600px;
      }
    #toggleFilterBtn {
        left: 10px; /* Adjust position for smaller screens */
        top: 70px; /* Adjust top position */
    }
    .filterOptionSearch {
        margin-left: 4px;
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid #ccc;
        /* margin-bottom: 20px; */
    }
    .filterOptions {
        display: none; /* Initially hide filter options on smaller screens */
        position: fixed; /* Fixed positioning to overlay on top of content */
        top: 20px; /* Display at the top of the viewport */
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 20px;
        background-color: #f9f9f9;
        z-index: 1000;
        overflow-y: auto;
        width: 100%;
        height: 100%;
       
    }
    #toggleFilterBtn {
        
        
        top: 62px; /* Adjust top position */
        margin: 0px;
        transition: right 0.3s ease, top 0.3s ease;
       
    }
    .sortOptions1 {
        float: right;
        margin-right: 0px;
    }
    #sortOptions {
        width: 180px;
        border: none;
        height: 30px;
        padding-left: 10px;
        padding-right: 20px;
        margin-bottom: 50px;
        box-shadow: 1px 1px 1px 1px rgba(143, 141, 141, 0.75);
    }
    .itemMainContainer {
        align-items: center;
        margin: 20px auto;
        margin-top: 80px;   
        display: grid;
        /* grid-template-columns: repeat(3, 1fr);  */
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
        width: 100%;
    }
    .itemsContainer {
        
        background-color: #fff;
        width: 100%;
        height:100%;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0px rgba(143, 141, 141, 0.75);
    }
    
    .itemsDetails {
        align-items: center;
        justify-content: space-evenly;
        margin: 20px;
        height: 550px;
    }
    
    
    #imgContiner{
        height: 400px; /* Set a fixed height for the container */
        overflow: hidden; /* Ensure content doesn't overflow the container */
        display: flex;
        justify-content: center;
        align-items: center;
     }
    .itemImg {
        width: 100%; /* Allow the image to scale proportionally */
        height: 100%; /* Ensure the height fills the container */
        object-fit: cover; 
        /* object-fit:fill; */
        /* margin: 20px auto; */
    }
    
}

@media (max-width: 576px) {
    #toggleFilterBtn {
        left: 10px; /* Further adjust position for mobile screens */
        top: 70px; /* Adjust top position */
    }
    .filterOptions {
        display: none; /* Initially hide filter options on smaller screens */
        position: fixed; /* Fixed positioning to overlay on top of content */
        top: 30px; /* Display at the top of the viewport */
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 20px;
        background-color: #f9f9f9;
        z-index: 1000;
        overflow-y: auto;
        width: 100%;
        height: 100%;
       
    }
    #sortOptions {
        width: 130px;
        border: none;
        height: 30px;
        padding-left: 10px;
        padding-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 1px 1px 1px 1px rgba(143, 141, 141, 0.75);
    }
    .itemMainContainer {
        align-items: center;
        margin: 20px auto;
        margin-top: 60px;   
        display: grid;
        /* grid-template-columns: repeat(3, 1fr);  */
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px; 
    }
    .itemsContainer {        
        background-color: #fff;
        width: 100%;
        height:100%;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0px rgba(143, 141, 141, 0.75);
    }
    
    .itemsDetails {
        align-items: center;
        justify-content: space-evenly;
        margin: 20px;
        height: 550px;
    }
}