/* Default styles (for large screens) */
/* Wishlist Container */
.wishlist-container {
    margin: 20px auto;
    padding: 40px;
    width: 100%;
}
.containers {
    margin-top: -20px;
    text-align: center;
    margin-bottom: 50px;
}
.heart {
    font-size: 80px;
}
/* Add necessary CSS styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
}
#back-btn {
    padding: 10px 20px;
    background-color: #181818;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}
.wishlist-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.tr {
    border: none;
    
}

th, td {
    border-bottom: 1px solid #ccc;
    height: 40px;
}
.td {
    height: 120px;
}
.nameImgClass {
    width: 25%;
}
.imgAndNameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}
.imgContainer {
    width: 100px;
    height: 100px;
}
.wishlist-item-img {
    width: 95px;
    height: 95px;
    border-radius: 4px;
}
.name {
    padding: 20px;
}
.priceRow {
    width: 20%;
}
.priceClass {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.dummyprices {
    text-decoration: line-through;
    color: red;
}
.brandClass {
    width: 20%;
    /* padding-left: 75px; */
    text-align: center;
   
}
.addButtonClass {
    width: 25%;
}
.wishListBtns {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.date {
    margin-bottom: 0px;
    text-align: center;
}
.addCart {
    width: 240px;
    height: 40px;
    background-color: rgb(252, 143, 0);
    border-radius: 15px;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
}
.addCart:hover {
    background-color: rgb(252, 143, 0);
    border: none;
    color: white;
}
.removeBtnClass{
    width: 10%;
    padding-left: 50px;
    margin-top: 30px;
  
}
.dleteIcon{
    border: none;
    color: red;
    font-size: 30px;
    padding-top:25px;
}
.remove-btn {
    
    border: none;   
    /* font-size: 35px; */
    background-color: transparent;  
}
.specialAddDel{
    display:none ;
}
/* Responsive styles
/* Large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
    .wishlist-container {
        margin: 100px auto;
        padding: 40px;
        width: 90%;
        
    }
    .containers {
        margin-top: -20px;
        text-align: center;
        margin-bottom: 50px;
    }
    .heart {
        font-size: 80px;
    }
    /* Add necessary CSS styles for the table */
    table {
        width: 100%;
        border-collapse: collapse;
    }
    #back-btn {
        padding: 10px 20px;
        background-color: #181818;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .wishlist-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .tr {
        border: none;
        
    }
    th, td {
        border-bottom: 1px solid #ccc;
        height: 80px;
    }
    .td {
        height: 120px;
    }
    .nameImgClass {
        width: 20%;
    }
    .imgAndNameContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
    }
    .imgContainer {
        width: 95px;
        height: 95px;
    }
    .wishlist-item-img {
        width: 85px;
        height: 85px;
        border-radius: 4px;
    }
    .name {
        padding: 10px;
    }
    .priceRow {
        width: 20%;
    }
    .priceClass {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .dummyprices {
        text-decoration: line-through;
        color: red;
    }
    .brandClass {
        width: 25%;
        /* padding-left: 75px; */
        text-align: center;
       
    }
    .addButtonClass {
        width: 25%;
    }
    .wishListBtns {
        display: flex;
        flex-direction: column;
        gap: 1px;
        padding: 20px;
        justify-content: space-evenly;
        align-items: center;
    }
    .date {
        margin-bottom: 0px;
        text-align: center;
    }
    .addCart {
        width: 120px;
        height: 40px;
        background-color: rgb(252, 143, 0);
        border-radius: 10px;
        color: white;
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        border: none;
    }
    .addCart:hover {
        background-color: rgb(252, 143, 0);
        border: none;
        color: white;
    }
    .removeBtnClass{
        width: 10%;
        padding-left: 25px;
        margin-top: 30px;
      
    }
    .dleteIcon{
        border: none;
        color: red;
        font-size: 30px;
        padding-top:25px;
    }
    .remove-btn {
        
        border: none;   
        /* font-size: 35px; */
        background-color: transparent;  
    }  
} 
/* Medium devices (desktops, 992px and down) */
 @media (max-width: 992px) {

    .wishlist-container {
        margin: 20px auto;
        padding: 40px;
        width: 90%;
    }
    .containers {
        margin-top: -20px;
        text-align: center;
        margin-bottom: 50px;
    }
    .heart {
        font-size: 80px;
    }
    /* Add necessary CSS styles for the table */
    table {
        width: 100%;
        border-collapse: collapse;
    }
    #back-btn {
        padding: 10px 20px;
        background-color: #181818;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .wishlist-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .tr {
        border: none;
        
    }
    th, td {
        border-bottom: 1px solid #ccc;
        height: 80px;
    }
    .td {
        height: 120px;
    }
    .nameImgClass {
        width: 20%;
    }
    .imgAndNameContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
    }
    .imgContainer {
        width: 95px;
        height: 95px;
    }
    .wishlist-item-img {
        width: 85px;
        height: 85px;
        border-radius: 4px;
    }
    .name {
        padding: 10px;
    }
    .priceRow {
        width: 20%;
    }
    .priceClass {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .dummyprices {
        text-decoration: line-through;
        color: red;
    }
    .brandClass {
        width: 25%;
        /* padding-left: 75px; */
        text-align: center;
       
    }
    .addButtonClass {
        width: 25%;
    }
    .wishListBtns {
        display: flex;
        flex-direction: column;
        gap: 1px;
        padding: 20px;
        justify-content: space-evenly;
        align-items: center;
    }
    .date {
        margin-bottom: 0px;
    }
    .addCart {
        width: 120px;
        height: 40px;
        background-color: rgb(252, 143, 0);
        border-radius: 10px;
        color: white;
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        border: none;
    }
    .addCart:hover {
        background-color: rgb(252, 143, 0);
        border: none;
        color: white;
    }
    .removeBtnClass{
        width: 10%;
        padding-left: 25px;
        margin-top: 30px;
      
    }
    .dleteIcon{
        border: none;
        color: red;
        font-size: 30px;
        padding-top:25px;
    }
    .remove-btn {
        
        border: none;   
        /* font-size: 35px; */
        background-color: transparent;  
    }
    
    
} 
/* Small devices (tablets, 768px and down) */
 @media (max-width: 768px) {
    .headClass{
        display:none;
    }
    .wishlist-container {
        margin: 10px auto;
        /* padding: 40px; */
        width: 100%;
        margin-bottom:auto;
        margin-right: auto;
    }
    .containers {
        margin-top: -20px;
        text-align: center;
        margin-bottom: 50px;
    }
    .heart {
        font-size: 80px;
    }
    /* Add necessary CSS styles for the table */
    table {
        width: 100%;
        border-collapse: collapse;
       
    }
    #back-btn {
        padding: 10px 20px;
        background-color: #181818;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .wishlist-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
  
    tr {
        border: none;
        display: flex;
        flex-direction: column;
        height:100%;
        background-color:#fff !important;
        width:100%;
        margin:100px !;
        margin-bottom: 27px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0px rgba(143, 141, 141, 0.75); 
    }
    th, td {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border: none;
         
    }
    .td {
        height: 120px; 
        border: none;
    }
    .nameImgClass {
        width: 100%;
        height:220px;
        text-align: center;
    }
    .imgAndNameContainer {
        display: flex;
        flex-direction:column;
        align-items: center;
        /* padding-left: 10px; */
        text-align: center;
    }
    .imgContainer {
        width: 180px;
        height: 180px;
    }
    .wishlist-item-img {
        width: 240px;
        height: 160px;
        border-radius: 8px;
        box-shadow:0px,0px,20px,rgb(0,0,0,0.25);
    }
    .name {
        padding: 20px;
        font-size: 28px;
    }
    .priceRow {
        width: 100%;
        height:50px;
        text-align: center;
        
    }
    .priceClass {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    
    }
    .dummyprices {
        text-decoration: line-through;
        color: red;
        font-size: 23px;
    }
    .mainprice{
        font-size: 23px;
    }
    .brandClass {
        width: 100%;
        /* padding-left: 15px; */
        font-size: 23px;
        height:30px;
        text-align: center;
       
    }
    .specialAddDel{
        display:block;
    }
    .addButtonClass {
        display:none;
        width: 100%;
        align-items: center;
        text-align: center;
        height:60px;

        
    }
    .wishListBtns {
        display: flex;
        flex-direction: column;
        gap: 1px;
        /* padding: 20px; */
        justify-content: space-evenly;
        align-items: center;
        padding-left: 50px;
    }
    .date {
        margin-bottom: 0px;
        text-align: center;
        font-size: 18px;
    }
    .addCart {
        width: 240px;
        height: 40px;
        background-color: rgb(252, 143, 0);
        border-radius: 15px;
        color: white;
        font-size: 20px;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        border: none;
        /* padding-left: 30px; */
    }
    .addCart:hover {
        background-color: rgb(252, 143, 0);
        border: none;
        color: white;
    }
    .removeBtnClass{
        display:none;
        width: 100%;
        height:auto;
      
    }
    .remove-btn {
         border: none;   
         background-color: transparent;  
         /* margin-top:-37px; */
         align-items: center;
         text-align: center;

        
    }
    .dleteIcon{
        border: none;
        color: red;
        font-size: 30px;
        
   
    } 
} 
/* Extra small devices (phones, 576px and down) */
 @media (max-width: 576px) {
    .headClass{
        display:none;
    }
    .wishlist-container {
        margin: 10px auto;
        /* padding: 40px; */
        width: 100%;
        margin-bottom:auto;
        margin-right: auto;
    }
    .containers {
        margin-top: -20px;
        text-align: center;
        margin-bottom: 50px;
    }
    .heart {
        font-size: 80px;
    }
    /* Add necessary CSS styles for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 30px 10px !important;
        align-items: center;
        text-align: center;
       
    }
    #back-btn {
        padding: 10px 20px;
        background-color: #181818;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .wishlist-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
  
   
    tr {
        border: none;
        display: flex;
        flex-direction: column;
        height:100%;
        background-color:#fff !important;
        width:100%;
        margin:30px !;
        margin-bottom: 27px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0px rgba(143, 141, 141, 0.75);
           
    }
    th, td {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        /* padding-bottom: 10px; */
        border: none; 
    }
    .td {
        height: 120px; 
        border: none;
    
    }
    .nameImgClass {
        width: 100%;
        height:200px;
        text-align: center;
    }
    .imgAndNameContainer {
        display: flex;
        flex-direction:column;
        align-items: center;
        /* padding-left: 10px; */
        text-align: center;
    }
    .imgContainer {
        width: 180px;
        height: 180px;
    }
    .wishlist-item-img {
        width: 240px;
        height: 160px;
        border-radius: 8px;
        box-shadow:0px,0px,20px,rgb(0,0,0,0.25);
    }
    .name {
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    .priceRow {
        width: 100%;
        height:45px;
        text-align: center;
        
    }
    .priceClass {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    
    }
    .dummyprices {
        text-decoration: line-through;
        color: red;
        font-size: 20px;
    }
    .mainprice{
        font-size: 20px;
    }
    .brandClass {
        width: 100%;
        /* padding-left: 15px; */
        font-size: 20px;
        height:20px;
        text-align: center;
       
    }
    
    .addButtonClass {
       
        display:none;  
    }
    .removeBtnClass{
        display:none;
       
    }
    .specialAddDel{
        display:block;
        width: 100%;
       padding-bottom: 40px;
       height:100px;
        
    }
    
    .wishListBtns {
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        gap: 1px;
        /* padding: 20px; */
        justify-content: space-evenly;
        align-items: center;
        /* padding-left: 50px; */
    }
    .date {
        margin-bottom: 8px;
        text-align: center;
        font-size: 18px;
    }
    .subwishListBtns{
         display:flex;
         flex-direction: row;
         justify-content: space-around;
         width:100%;
         /* padding: 10px; */
       

    }
    .addCart {
        
        height: 40px;
        width:80%;
        background-color: rgb(252, 143, 0);
        border-radius: 15px;
        color: white;
        font-size: 15px;
        padding: 10px;
        /* margin-top: 10px; */
        cursor: pointer;
        border: none;
        text-align: center;
        /* padding-left: 30px; */
    }
    .addCart:hover {
        background-color: rgb(252, 143, 0);
        border: none;
        color: white;
    }
   
    .remove-btn {
         border: none; 
         width: 20%;
         
         background-color: transparent;  
         text-align: center;
         align-items: center;
         /* margin-top:-37px; */
         /* align-items: center;
         text-align: center; */

        
    }
    .dleteIcon{
        border: none;
        color: red;
        font-size: 30px;
        margin-top: -15px;
        
   
    }
    
    
} 


